# python files

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints
*.so
*.dylib
*.dll
*.exe
*.pyd
*.lib
*.egg
*.egg-info/
.eggs/
dist/
build/

# virtual environment
venv/
env/
.venv/
.env/
.envrc
.conda/
.conda-env/
.conda-envs/
.condarc
.conda-lock
.mamba/
.mambarc
.mambaforge/
.micromamba/
.miniconda/
.miniconda3/
.anaconda/
.anaconda3/
.spyderproject
.spyproject
.ropeproject
.python-version
.python-eggs/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
dd54ad5e2706d62d1ffc3bca54c750be/
*.ipynb
